#game-hud {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-hud .start-button {
    font-size: 24px;
}

#game-hud .claw-button {
    position: absolute;
}